body {
  background-color: #232861;
  color: #080572;
  font-family: 'Maven Pro', sans-serif;
}
.card {
  background-color: #2d2d2d;
  border: none;
  color: #ffffff;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
.card-header {
  background-color: #343a40;
  border-bottom: none;
  color: #ffffff;
}
.card-title {
  font-size: 24px;
  margin-bottom: 0;
}
.card-text {
  font-size: 18px;
}
.btn-primary {
  background-color: #20b545;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #820c0c;
  border-color: #0062cc;
}
.timer {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.hints-container {
  background-color: rgba(7, 7, 62, 0.8);
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}
